header{
    background-color: rgb(47, 47, 111);
}

.first{
    background-color: aqua;
}

hr{
    width: 100px;
    background-color: red;
}

.line{
    width: 100px;
    height: 5px;
    background-color: white;
}

.section-1{
    background-color: aqua;
}

img{
    width: 200px;
    margin: 0 auto;
    
}

.line2{
    background-color: black;
    width: 100px;
    height: 5px;
}

div.row.cards>*{
   margin-top: 8px;
}

.section-3{
    background-color: aqua;
}

.button{
    border: 1px solid white;
    color: white;
    width: 100px;
    margin: 0 auto;
}