header{
    background-color: rgb(47, 47, 111);
}

.first{
    background-color: aqua;
}

hr{
    width: 100px;
    background-color: red;
}

.line{
    width: 100px;
    height: 5px;
    background-color: white;
}

section{
    background-color: aqua;
}

.avatar{
    width: 200px;
    margin: 0 auto;
    
}