header{
    background-color: rgb(47, 47, 111);
}

.first{
    background-color: aqua;
}

hr{
    width: 100px;
    background-color: red;
}

.line{
    width: 100px;
    height: 5px;
    background-color: white;
}

.section-1{
    background-color: aqua;
}

img{
    width: 200px;
    margin: 0 auto;
    
}

.line2{
    background-color: black;
    width: 100px;
    height: 5px;
}

.cabin{
    background-color: red;
}

.cake{
    background-color: paleturquoise;
}

.circo{
    background-color: black;
}

.game{
    background-color: rgb(35, 219, 207);
}

.safe{
    background-color: blue;
}

.submarine{
    background-color: bisque;
}

div.row.cards>*{
    border: 3px solid white;
    margin-top: 10px;
}